description "smart-panda"

start on (filesystem)
stop on runlevel [016]

respawn
setuid vagrant
setgid vagrant
chdir /home/vagrant/counter-app

exec bash -c 'FLASK_APP=/home/vagrant/counter-app/counter-app.py /usr/local/bin/flask run -p 8090'
